# Import_Libraries

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# Loading The Data:

In [2]:
df = pd.read_csv(r"C:\Users\Hp\Desktop\Data_Science_Jupyter\Project_1_digi_crome_capstone\Data\cleaned_Property_data.csv")

In [3]:
df.head(5)

,Unnamed: 0,PropertyID,PropertyClass,PropertyFrontage,PropertySize,OverallQual,OverallCond,YearBuilt,YearRemodAdd,ExteriorCladdingArea,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondn_AdjLand,SaleCondn_Alloca,SaleCondn_Family,SaleCondn_Normal,SaleCondn_Partial
0,0,1,60,65,8450,7,5,2003,2003,196,...,False,False,False,False,True,False,False,False,True,False
1,1,2,20,80,9600,6,8,1976,1976,0,...,False,False,False,False,True,False,False,False,True,False
2,2,3,60,68,11250,7,5,2001,2002,162,...,False,False,False,False,True,False,False,False,True,False
3,3,4,70,60,9550,7,5,1915,1970,0,...,False,False,False,False,True,False,False,False,False,False
4,4,5,60,84,14260,8,5,2000,2000,350,...,False,False,False,False,True,False,False,False,True,False

In [4]:
df.shape

(1398, 263)

# Calculate age at sale

In [5]:
df['AgeAtSale'] = df['SaleYr'] - df['YearBuilt']

In [6]:
df['YearsSinceRemodel'] = df['SaleYr'] - df['YearRemodAdd']

# Display the first few rows to verify the new columns

In [7]:
print(df[['AgeAtSale', 'YearsSinceRemodel']].head())

   AgeAtSale  YearsSinceRemodel
0          5                  5
1         31                 31
2          7                  6
3         91                 36
4          8                  8

# Calculate total square foot

In [8]:
df['TotalSqFootage'] = df['1stFlrSF'] + df['2ndFlrSF'] + df['BsmtFinSF2'] + df['BsmtUnfSF']

In [9]:
print(df[['TotalSqFootage']].head())

   TotalSqFootage
0            1860
1            1546
2            2220
3            2257
4            2688

# Calculate Total Bath rooms

In [10]:
df['TotalBathrooms'] = df['BsmtFullBath'] + df['BsmtHalfBath']*0.5 + df['Bath1'] + df['Bath2']*0.5

In [11]:
print(df[['TotalBathrooms']].head())

   TotalBathrooms
0             3.5
1             2.5
2             3.5
3             2.0
4             3.5

# Calculate Quality Score:

In [12]:
df['QualityScore'] = df['OverallQual'] * df['OverallCond']

In [13]:
print(df[['QualityScore']].head())

   QualityScore
0            35
1            48
2            35
3            35
4            40

# Calculate Interaction Features:

In [14]:
df['GrLivArea_OverallQual'] = df['GrLivArea'] * df['OverallQual']

In [15]:
print(df[['GrLivArea_OverallQual']].head())

   GrLivArea_OverallQual
0                  11970
1                   7572
2                  12502
3                  12019
4                  17584

In [16]:
df.shape

(1398, 269)

In [17]:
df.to_csv(r"C:\Users\Hp\Desktop\Data_Science_Jupyter\Project_1_digi_crome_capstone\Data\features_Property_data.csv",index=False)